torch>=2.3.0
torchaudio
accelerate
datasets
transformers
deepspeed
einops
wandb
npy-append-array
faiss-cpu
git+https://github.com/descriptinc/audiotools
git+https://github.com/supertone-inc/super-monotonic-align.git
git+https://github.com/resemble-ai/monotonic_align.git
anyascii
hf_transfer
